<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Pokedex
  body
    header.header
      h1.header__title Catch'em All
      h1.header__title Pokedex
    main#main.main
      #game.game
        #loader.loader
          .loader__pokeball-container
            .loader__pokeball
          .loader__text Loading...
<<<<<<< HEAD
        .game__image-container
          img(src="", alt="")#poke-image.game__image
        ul#poke-answers.game__answers
      #pokedex.pokedex
        .card
          .card__front
            h2 FRONT
          .card__back
            .card__pokeball
=======
        img(src="", alt="")#poke-image.game__image
        ul#poke-answers.game__answers
      #pokedex.pokedex
>>>>>>> e3a172bf185f19eb1ca8d76643cabedf74643699
    script(src="js/scripts-min.js")