.card-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;

  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    overflow: hidden;
    // background-color: rgb(163, 163, 163);
    border-radius: 15px;
  }

  &__image-container {
    width: 100%;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__image {
    max-width: 120px;
    margin-top: 0.5rem;
  }

  &__info {
    text-align: center;
  }
  &__text {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }

  &__pokeball {
    position: absolute;
    border: 10px solid black;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;

    &::after {
      content: '';
      display: block;
      background-color: black;
      width: 100%;
      height: 10px;
    }

    &::before {
      content: '?';
      position: absolute;
      display: block;
      background-color: var(--dark-blue);
      border: 10px solid black;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &--show {
    transform: rotateY(180deg);
  }
}
