.card-container {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;

  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-color: var(--red);
  }

  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pokeball {
    position: absolute;
    border: 10px solid black;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;

    &::after {
      content: '';
      display: block;
      background-color: black;
      width: 100%;
      height: 10px;
    }

    &::before {
      content: '?';
      position: absolute;
      display: block;
      background-color: var(--dark-blue);
      border: 10px solid black;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &--show {
    transform: rotateY(180deg);
  }
}
