.game {
  background-color: var(--red);
  width: 50%;
  height: 100vh;
  position: relative;

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-height: 300px;
  }

  &__image {
    display: block;
    max-width: 200px;
    width: 100%;
    display: block;
    filter: brightness(0);

    &--show {
      transition: filter 1s;
      filter: brightness(1);
    }
  }

  &__answers {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    text-align: center;
    line-height: 2;
    font-size: 2rem;
    color: var(--white);
    text-transform: capitalize;
    letter-spacing: 6px;

    & li {
      cursor: pointer;
      transition: transform 0.2s, color 0.2s;

      &:hover {
        color: var(--yellow);
        transform: scale(1.1);
        -webkit-text-stroke: 2px var(--blue);
      }
    }
  }
}
