.normal {
  background-color: #bbbbac;
}
.poison {
  background-color: #a85ca0;
}
.psychic {
  background-color: #fa64b7;
}
.grass {
  background-color: #8cd851;
}
.ground {
  background-color: #ebc956;
}
.ice {
  background-color: #96f1ff;
}
.fire {
  background-color: #fa5543;
}
.rock {
  background-color: #cebd72;
}
.dragon {
  background-color: #8a76ff;
}
.water {
  background-color: #56afff;
}
.bug {
  background-color: #c3d21f;
}
.dark {
  background-color: #8e6a56;
}
.fighting {
  background-color: #a85645;
}
.ghost {
  background-color: #756ec7;
}
.steel {
  background-color: #c4c2d9;
}
.flying {
  background-color: #79a4ff;
}
.electric {
  background-color: #fee844;
}
.fairy {
  background-color: #f9adff;
}
